@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {


}
/* styles/globals.css */
@font-face {
  font-family: 'CircularStd';
  src: url('/fonts/CircularStdMedium.ttf') format('truetype');
  font-weight: 500; /* Adjust as needed */
  font-style: normal;
}


.transition-transform {
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

body {

}

@layer utilities {

}
